NUMBER_OF_ROUNDS            1
NUMBER_OF_PLAYERS           2
UNITS_AT_START              10
MAX_NUMBER_OF_UNITS         15
MIN_NUMBER_OF_UNITS         5
MAX_NUMBER_OF_SQUARES       800     
MAX_NUMBER_OF_BONUSES       1
ROUNDS_PER_RESPAWN          3
POINTS_PER_UNIT             30
POINTS_PER_BUBBLE           30
POINTS_PER_POP              50
POINTS_PER_SQUARE           5
ENERGY_AT_START             5
MAX_ENERGY                  20
MIN_ENERGY                  0
ABILITY_SIZE                4
BOARD_WIDTH                 10
BOARD_HEIGHT                10